###### BASIC CLEANING CODE

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import re

In [23]:
path = "/home/tennistetris/Documents/Data Analytics/Hall/Inter_hall"
data_path = "DA_original_files/Data_csv"
pathtodata = os.path.join(path,data_path)
os.chdir(pathtodata)
Csv_files = os.listdir(pathtodata)

In [24]:
file = Csv_files[0]
db = pd.read_csv(file)
db.head()

,Scheme Code,Scheme Name,Net Asset Value,Repurchase Price,Sale Price,Date
0,112343,ICICI Prudential Banking and PSU Debt Fund - ...,10.0476,10.0225,10.0476,01-Jan-2013
1,112343,ICICI Prudential Banking and PSU Debt Fund - ...,10.0476,10.0225,10.0476,02-Jan-2013
2,112343,ICICI Prudential Banking and PSU Debt Fund - ...,10.0476,10.0225,10.0476,03-Jan-2013
3,112343,ICICI Prudential Banking and PSU Debt Fund - ...,10.0476,10.0225,10.0476,04-Jan-2013
4,112343,ICICI Prudential Banking and PSU Debt Fund - ...,10.0476,10.0225,10.0476,07-Jan-2013

In [38]:
columns = db.columns
Fund_names = db[columns[1]].unique().astype('string')

count                                                603143
unique                                                  596
top       ICICI Prudential Liquid Institutional Plan - G...
freq                                                   1544
Name: Scheme Name, dtype: object

In [43]:
n = np.size(Fund_names)
index = np.zeros((n,1),dtype = bool);
for i in range(n):
    if re.search('mutual',Fund_names[i]):
        index[i] = True
print (sum(index))

array([0])

In [44]:
for file in Csv_files:
    db = pd.read_csv(file)
    columns = db.columns
    Fund_names = db[columns[1]].unique().astype('string')
    n = np.size(Fund_names)
    index = np.zeros((n,1),dtype = bool);
    for i in range(n):
        if re.search('mutual',Fund_names[i]):
            index[i] = True
    print (sum(index))

[0]
[0]
[0]
[0]
[0]

/home/tennistetris/tensorflow/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

[0]
[0]
0
[0]

So it so happens that we seriously need a column which specifies if a data is a mutual fund or not