### Required for downstream analysis

In [1]:
import os
import numpy as np
import pandas as pd
import datetime as dt

In [3]:
#Change the base path before executing code
Base_path = "/home/tennistetris/Documents/Data Analytics/Hall/Inter_hall"
data = "NAV_quarterly_padded"
Path_to_data = os.path.join(Base_path,data)
files = os.listdir(Path_to_data)
os.chdir(Path_to_data)

In [5]:
db_combined = pd.DataFrame(columns = [''])
for file in files:
    db = pd.read_csv(file,names = ['Quarter' , 'NAV'])
    db['ID'] = int(file.split('.')[0])

  Quarter  NAV      ID
0  2013Q1  0.0  135793
1  2013Q2  0.0  135793
2  2013Q3  0.0  135793
3  2013Q4  0.0  135793
4  2014Q1  0.0  135793
  Quarter  NAV      ID
0  2013Q1  0.0  135800
1  2013Q2  0.0  135800
2  2013Q3  0.0  135800
3  2013Q4  0.0  135800
4  2014Q1  0.0  135800
  Quarter       NAV      ID
0  2013Q1 -0.026313  100664
1  2013Q2 -0.004159  100664
2  2013Q3 -0.011366  100664
3  2013Q4  0.059709  100664
4  2014Q1  0.035626  100664
  Quarter       NAV      ID
0  2013Q1 -0.051184  102401
1  2013Q2 -0.024349  102401
2  2013Q3 -0.187507  102401
3  2013Q4  0.067179  102401
4  2014Q1  0.008807  102401
  Quarter       NAV      ID
0  2013Q1  0.084601  103168
1  2013Q2 -0.050543  103168
2  2013Q3  0.160602  103168
3  2013Q4  0.140665  103168
4  2014Q1  0.078187  103168
  Quarter       NAV      ID
0  2013Q1       NaN  120577
1  2013Q2       NaN  120577
2  2013Q3  0.165241  120577
3  2013Q4  0.140840  120577
4  2014Q1  0.099174  120577
  Quarter  NAV      ID
0  2013Q1  0.0  135796
1  2013Q2  0.0  135796
2  2013Q3  0.0  135796
3  2013Q4  0.0  135796
4  2014Q1  0.0  135796
  Quarter       NAV      ID
0  2013Q1 -0.020873  115242
1  2013Q2 -0.030079  115242
2  2013Q3  0.013018  115242
3  2013Q4  0.043188  115242
4  2014Q1  0.005898  115242
  Quarter       NAV      ID
0  2013Q1 -0.026909  120587
1  2013Q2  0.066768  120587
2  2013Q3  0.028788  120587
3  2013Q4  0.008387  120587
4  2014Q1  0.015495  120587
  Quarter       NAV      ID
0  2013Q1 -0.005774  103504
1  2013Q2 -0.008094  103504
2  2013Q3 -0.039610  103504
3  2013Q4  0.083200  103504
4  2014Q1  0.044594  103504
  Quarter       NAV      ID
0  2013Q1 -0.031136  100806
1  2013Q2  0.068122  100806
2  2013Q3  0.051944  100806
3  2013Q4  0.070442  100806
4  2014Q1  0.069360  100806
  Quarter       NAV      ID
0  2013Q1 -0.014050  103174
1  2013Q2 -0.010677  103174
2  2013Q3 -0.022753  103174
3  2013Q4  0.089059  103174
4  2014Q1  0.031811  103174
  Quarter       NAV      ID
0  2013Q1 -0.049456  118759
1  2013Q2  0.049628  118759
2  2013Q3  0.027517  118759
3  2013Q4  0.076041  118759
4  2014Q1  0.108870  118759
  Quarter       NAV      ID
0  2013Q1 -0.008284  108466
1  2013Q2 -0.014104  108466
2  2013Q3 -0.004288  108466
3  2013Q4  0.087757  108466
4  2014Q1  0.026564  108466
  Quarter       NAV      ID
0  2013Q1 -0.026835  120588
1  2013Q2  0.066731  120588
2  2013Q3  0.028757  120588
3  2013Q4  0.008402  120588
4  2014Q1  0.015446  120588
  Quarter       NAV      ID
0  2013Q1 -0.115096  102433
1  2013Q2  0.036064  102433
2  2013Q3  0.025802  102433
3  2013Q4  0.074399  102433
4  2014Q1  0.064535  102433
  Quarter       NAV      ID
0  2013Q1       NaN  120578
1  2013Q2       NaN  120578
2  2013Q3  0.166978  120578
3  2013Q4  0.141968  120578
4  2014Q1  0.100211  120578
  Quarter       NAV      ID
0  2013Q1 -0.001819  101295
1  2013Q2 -0.014230  101295
2  2013Q3 -0.035399  101295
3  2013Q4  0.072608  101295
4  2014Q1  0.025747  101295
  Quarter       NAV      ID
0  2013Q1  0.000000  125598
1  2013Q2  0.000000  125598
2  2013Q3  0.000000  125598
3  2013Q4  0.001065  125598
4  2014Q1 -0.000900  125598
  Quarter       NAV      ID
0  2013Q1 -0.016280  119783
1  2013Q2  0.068459  119783
2  2013Q3  0.052766  119783
3  2013Q4  0.088621  119783
4  2014Q1  0.086044  119783
  Quarter  NAV      ID
0  2013Q1  0.0  130496
1  2013Q2  0.0  130496
2  2013Q3  0.0  130496
3  2013Q4  0.0  130496
4  2014Q1  0.0  130496
  Quarter       NAV      ID
0  2013Q1 -0.013597  120585
1  2013Q2 -0.012483  120585
2  2013Q3 -0.002478  120585
3  2013Q4  0.089680  120585
4  2014Q1  0.028589  120585
  Quarter       NAV      ID
0  2013Q1 -0.011277  119598
1  2013Q2 -0.007074  119598
2  2013Q3 -0.038396  119598
3  2013Q4  0.084491  119598
4  2014Q1  0.045968  119598
  Quarter  NAV      ID
0  2013Q1  0.0  135807
1  2013Q2  0.0  135807
2  2013Q3  0.0  135807
3  2013Q4  0.0  135807
4  2014Q1  0.0  135807
  Quarter  NAV      ID
0  2013Q1  0.0  140448
1  2013Q2  0.0  140448
2  2013Q3  0.0  140448
3  2013Q4  0.0  140448
4  2014Q1  0.0  140448
  Quarter       NAV      ID
0  2013Q1  0.120612  119731
1  2013Q2 -0.057103  119731
2  2013Q3  0.165601  119731
3  2013Q4  0.141819  119731
4  2014Q1  0.100215  119731
  Quarter       NAV      ID
0  2013Q1 -0.025715  100352
1  2013Q2  0.065083  100352
2  2013Q3  0.026953  100352
3  2013Q4  0.006774  100352
4  2014Q1  0.014098  100352
  Quarter       NAV      ID
0  2013Q1 -0.060043  120733
1  2013Q2 -0.021657  120733
2  2013Q3 -0.184952  120733
3  2013Q4  0.069510  120733
4  2014Q1  0.010984  120733
  Quarter       NAV      ID
0  2013Q1 -0.016632  102823
1  2013Q2  0.066650  102823
2  2013Q3  0.050840  102823
3  2013Q4  0.086866  102823
4  2014Q1  0.084347  102823
  Quarter       NAV      ID
0  2013Q1 -0.055767  120245
1  2013Q2 -0.019389  120245
2  2013Q3 -0.131922  120245
3  2013Q4  0.099135  120245
4  2014Q1  0.013957  120245
  Quarter  NAV      ID
0  2013Q1  0.0  135794
1  2013Q2  0.0  135794
2  2013Q3  0.0  135794
3  2013Q4  0.0  135794
4  2014Q1  0.0  135794
  Quarter  NAV      ID
0  2013Q1  0.0  140452
1  2013Q2  0.0  140452
2  2013Q3  0.0  140452
3  2013Q4  0.0  140452
4  2014Q1  0.0  140452
  Quarter       NAV      ID
0  2013Q1 -0.047976  108465
1  2013Q2 -0.031555  108465
2  2013Q3 -0.004315  108465
3  2013Q4  0.087741  108465
4  2014Q1 -0.032812  108465
  Quarter  NAV      ID
0  2013Q1  0.0  135790
1  2013Q2  0.0  135790
2  2013Q3  0.0  135790
3  2013Q4  0.0  135790
4  2014Q1  0.0  135790
  Quarter       NAV      ID
0  2013Q1 -0.015159  100475
1  2013Q2 -0.011776  100475
2  2013Q3  0.001724  100475
3  2013Q4  0.068560  100475
4  2014Q1  0.024562  100475
  Quarter       NAV      ID
0  2013Q1 -0.001924  104523
1  2013Q2 -0.014222  104523
2  2013Q3 -0.035411  104523
3  2013Q4  0.072630  104523
4  2014Q1  0.025775  104523
  Quarter       NAV      ID
0  2013Q1 -0.016701  100644
1  2013Q2  0.066663  100644
2  2013Q3  0.050857  100644
3  2013Q4  0.086807  100644
4  2014Q1  0.084334  100644
  Quarter       NAV      ID
0  2013Q1 -0.071665  103308
1  2013Q2 -0.047527  103308
2  2013Q3 -0.081240  103308
3  2013Q4  0.105029  103308
4  2014Q1 -0.004200  103308
  Quarter       NAV      ID
0  2013Q1 -0.027405  119572
1  2013Q2 -0.029415  119572
2  2013Q3  0.013694  119572
3  2013Q4  0.043824  119572
4  2014Q1  0.006854  119572
  Quarter  NAV      ID
0  2013Q1  0.0  135812
1  2013Q2  0.0  135812
2  2013Q3  0.0  135812
3  2013Q4  0.0  135812
4  2014Q1  0.0  135812
  Quarter  NAV      ID
0  2013Q1  0.0  133860
1  2013Q2  0.0  133860
2  2013Q3  0.0  133860
3  2013Q4  0.0  133860
4  2014Q1  0.0  133860
  Quarter  NAV      ID
0  2013Q1  0.0  130497
1  2013Q2  0.0  130497
2  2013Q3  0.0  130497
3  2013Q4  0.0  130497
4  2014Q1  0.0  130497
  Quarter       NAV      ID
0  2013Q1 -0.019277  119528
1  2013Q2 -0.009144  119528
2  2013Q3 -0.020722  119528
3  2013Q4  0.091458  119528
4  2014Q1  0.033315  119528
  Quarter       NAV      ID
0  2013Q1 -0.013609  120586
1  2013Q2 -0.012435  120586
2  2013Q3 -0.002564  120586
3  2013Q4  0.089617  120586
4  2014Q1  0.028498  120586
  Quarter  NAV      ID
0  2013Q1  0.0  135795
1  2013Q2  0.0  135795
2  2013Q3  0.0  135795
3  2013Q4  0.0  135795
4  2014Q1  0.0  135795
  Quarter       NAV      ID
0  2013Q1  0.086578  120539
1  2013Q2 -0.049262  120539
2  2013Q3  0.161938  120539
3  2013Q4  0.142026  120539
4  2014Q1  0.079982  120539
  Quarter       NAV      ID
0  2013Q1 -0.024546  119018
1  2013Q2 -0.027588  119018
2  2013Q3 -0.066693  119018
3  2013Q4  0.099900  119018
4  2014Q1  0.039110  119018
  Quarter       NAV      ID
0  2013Q1 -0.026260  120662
1  2013Q2 -0.006457  120662
2  2013Q3 -0.019207  120662
3  2013Q4  0.075101  120662
4  2014Q1  0.038102  120662
  Quarter       NAV      ID
0  2013Q1 -0.055747  120244
1  2013Q2 -0.019387  120244
2  2013Q3 -0.131991  120244
3  2013Q4  0.099014  120244
4  2014Q1  0.014037  120244
  Quarter       NAV      ID
0  2013Q1  0.000000  125597
1  2013Q2  0.000000  125597
2  2013Q3  0.000000  125597
3  2013Q4  0.001065  125597
4  2014Q1 -0.000889  125597
  Quarter  NAV      ID
0  2013Q1  0.0  135810
1  2013Q2  0.0  135810
2  2013Q3  0.0  135810
3  2013Q4  0.0  135810
4  2014Q1  0.0  135810
  Quarter       NAV      ID
0  2013Q1 -0.026153  103309
1  2013Q2 -0.023115  103309
2  2013Q3 -0.019100  103309
3  2013Q4  0.105029  103309
4  2014Q1  0.037662  103309
  Quarter       NAV      ID
0  2013Q1 -0.051405  102402
1  2013Q2 -0.024359  102402
2  2013Q3 -0.187509  102402
3  2013Q4  0.067178  102402
4  2014Q1  0.008806  102402
  Quarter       NAV      ID
0  2013Q1 -0.032139  120665
1  2013Q2 -0.003273  120665
2  2013Q3 -0.010783  120665
3  2013Q4  0.060286  120665
4  2014Q1  0.036077  120665
  Quarter       NAV      ID
0  2013Q1 -0.032072  119564
1  2013Q2 -0.021947  119564
2  2013Q3 -0.017553  119564
3  2013Q4  0.107012  119564
4  2014Q1  0.039154  119564
  Quarter       NAV      ID
0  2013Q1 -0.049972  118756
1  2013Q2  0.049971  118756
2  2013Q3  0.028336  118756
3  2013Q4  0.076013  118756
4  2014Q1  0.070194  118756
  Quarter       NAV      ID
0  2013Q1 -0.006569  119709
1  2013Q2 -0.012774  119709
2  2013Q3 -0.033856  119709
3  2013Q4  0.074013  119709
4  2014Q1  0.027139  119709
  Quarter       NAV      ID
0  2013Q1 -0.022418  100645
1  2013Q2 -0.014576  100645
2  2013Q3 -0.056233  100645
3  2013Q4 -0.000369  100645
4  2014Q1  0.009348  100645
  Quarter       NAV      ID
0  2013Q1 -0.032316  120664
1  2013Q2 -0.003306  120664
2  2013Q3 -0.014305  120664
3  2013Q4 -0.000240  120664
4  2014Q1  0.036079  120664
  Quarter  NAV      ID
0  2013Q1  0.0  133858
1  2013Q2  0.0  133858
2  2013Q3  0.0  133858
3  2013Q4  0.0  133858
4  2014Q1  0.0  133858
  Quarter       NAV      ID
0  2013Q1 -0.018423  120576
1  2013Q2  0.065139  120576
2  2013Q3  0.023809  120576
3  2013Q4 -0.000385  120576
4  2014Q1  0.009349  120576
  Quarter       NAV      ID
0  2013Q1 -0.005710  103616
1  2013Q2 -0.008099  103616
2  2013Q3 -0.039620  103616
3  2013Q4  0.083201  103616
4  2014Q1  0.028459  103616
  Quarter       NAV      ID
0  2013Q1 -0.018841  119730
1  2013Q2  0.066878  119730
2  2013Q3  0.026428  119730
3  2013Q4  0.001495  119730
4  2014Q1  0.010862  119730
  Quarter       NAV      ID
0  2013Q1 -0.025284  102000
1  2013Q2 -0.029020  102000
2  2013Q3 -0.068052  102000
3  2013Q4  0.098521  102000
4  2014Q1  0.037744  102000
  Quarter  NAV      ID
0  2013Q1  0.0  133859
1  2013Q2  0.0  133859
2  2013Q3  0.0  133859
3  2013Q4  0.0  133859
4  2014Q1  0.0  133859
  Quarter       NAV      ID
0  2013Q1 -0.050860  102001
1  2013Q2 -0.099644  102001
2  2013Q3 -0.068045  102001
3  2013Q4  0.098523  102001
4  2014Q1  0.010871  102001
  Quarter       NAV      ID
0  2013Q1  0.000000  125595
1  2013Q2  0.000000  125595
2  2013Q3  0.000000  125595
3  2013Q4  0.001065  125595
4  2014Q1 -0.002714  125595
  Quarter       NAV      ID
0  2013Q1 -0.045749  109445
1  2013Q2 -0.021034  109445
2  2013Q3 -0.133859  109445
3  2013Q4  0.097084  109445
4  2014Q1  0.012348  109445
  Quarter       NAV      ID
0  2013Q1 -0.021446  100669
1  2013Q2 -0.007048  100669
2  2013Q3 -0.019755  100669
3  2013Q4  0.074663  100669
4  2014Q1  0.037579  100669
  Quarter       NAV      ID
0  2013Q1  0.080286  120594
1  2013Q2 -0.057658  120594
2  2013Q3  0.142915  120594
3  2013Q4  0.220200  120594
4  2014Q1  0.118892  120594
  Quarter       NAV      ID
0  2013Q1 -0.054779  119159
1  2013Q2 -0.062799  119159
2  2013Q3  0.003469  119159
3  2013Q4  0.070558  119159
4  2014Q1 -0.012149  119159
  Quarter       NAV      ID
0  2013Q1 -0.031080  100807
1  2013Q2  0.068131  100807
2  2013Q3  0.051941  100807
3  2013Q4  0.070442  100807
4  2014Q1  0.069363  100807
  Quarter       NAV      ID
0  2013Q1 -0.020920  115241
1  2013Q2 -0.030080  115241
2  2013Q3  0.012984  115241
3  2013Q4  0.043087  115241
4  2014Q1  0.005894  115241
  Quarter       NAV      ID
0  2013Q1  0.085129  103167
1  2013Q2 -0.050581  103167
2  2013Q3  0.160025  103167
3  2013Q4  0.084382  103167
4  2014Q1  0.078088  103167
  Quarter       NAV      ID
0  2013Q1 -0.031365  120782
1  2013Q2  0.070019  120782
2  2013Q3  0.053794  120782
3  2013Q4  0.072244  120782
4  2014Q1  0.071194  120782
  Quarter       NAV      ID
0  2013Q1  0.041198  115294
1  2013Q2 -0.119664  115294
2  2013Q3  0.141603  115294
3  2013Q4  0.218608  115294
4  2014Q1  0.089497  115294
  Quarter  NAV      ID
0  2013Q1  0.0  135797
1  2013Q2  0.0  135797
2  2013Q3  0.0  135797
3  2013Q4  0.0  135797
4  2014Q1  0.0  135797
  Quarter       NAV      ID
0  2013Q1 -0.016170  119782
1  2013Q2  0.068364  119782
2  2013Q3  0.052759  119782
3  2013Q4  0.088571  119782
4  2014Q1  0.085539  119782
  Quarter       NAV      ID
0  2013Q1  0.119226  100643
1  2013Q2 -0.058137  100643
2  2013Q3  0.064081  100643
3  2013Q4  0.071965  100643
4  2014Q1  0.099195  100643

  Quarter  NAV      ID
0  2013Q1  0.0  130498
1  2013Q2  0.0  130498
2  2013Q3  0.0  130498
3  2013Q4  0.0  130498
4  2014Q1  0.0  130498
  Quarter  NAV      ID
0  2013Q1  0.0  140453
1  2013Q2  0.0  140453
2  2013Q3  0.0  140453
3  2013Q4  0.0  140453
4  2014Q1  0.0  140453
  Quarter       NAV      ID
0  2013Q1 -0.021665  119160
1  2013Q2 -0.011148  119160
2  2013Q3  0.003274  119160
3  2013Q4  0.070122  119160
4  2014Q1  0.026450  119160
  Quarter       NAV      ID
0  2013Q1  0.079367  100363
1  2013Q2 -0.059287  100363
2  2013Q3  0.141598  100363
3  2013Q4  0.218597  100363
4  2014Q1  0.116866  100363
  Quarter       NAV      ID
0  2013Q1 -0.036062  120663
1  2013Q2 -0.023272  120663
2  2013Q3 -0.019205  120663
3  2013Q4  0.075101  120663
4  2014Q1  0.038102  120663
  Quarter  NAV      ID
0  2013Q1  0.0  132997
1  2013Q2  0.0  132997
2  2013Q3  0.0  132997
3  2013Q4  0.0  132997
4  2014Q1  0.0  132997