In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [4]:
#Change the base path before executing code
Base_path = "/home/tennistetris/Documents/Data Analytics/Hall/Inter_hall"
data = "DA_original_files"
Path_to_data = os.path.join(Base_path,data)
files = os.listdir(Path_to_data)
os.chdir(Path_to_data)

In [6]:
db = pd.read_csv('MF_IIT_DATA_V3.csv')
db.head()

,Serial_No,Fund_Name,Fund_Family,Fund_Class,Plan,Options,Riskometer,CRISIL_MF_RANK,Sector_Allocation_size,Sector1_Name,...,Sector6_Percentage,Sector7_Name,Sector7_Percentage,Sector8_Name,Sector8_Percentage,Sector9_Name,Sector9_Percentage,Sector10_Name,Sector10_Percentage,Total_percentage_of _allocation
0,1,Aditya Birla Sun Life Banking And Financial Se...,Aditya Birla Sun Life Mutual Fund,Sector - Banking & Finance,Direct,Growth,H,NR,4,Banking/Finance,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.22
1,2,Aditya Birla Sun Life Frontline Equity Fund - ...,Aditya Birla Sun Life Mutual Fund,Large Cap,Direct,Growth,MH,4,10,Banking/Finance,...,5.21,Engineering & Capital Goods,4.53,Tobacco,3.94,Manufacturing,3.80,Consumer Non-durables,3.79,85.63
2,3,Aditya Birla Sun Life New Millennium Fund - Di...,Aditya Birla Sun Life Mutual Fund,Sector - Technology,Direct,Growth,H,NR,4,Technology,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.08
3,4,Aditya Birla Sun Life Top 100 Fund - Direct Pl...,Aditya Birla Sun Life Mutual Fund,Large Cap,Direct,Growth,MH,5,10,Banking/Finance,...,4.34,Manufacturing,4.06,Tobacco,4.11,Utilities,2.78,Engineering & Capital Goods,3.12,81.07
4,5,HDFC Large Cap Fund - Direct Plan (G),HDFC Mutual Fund,Large Cap,Direct,Growth,MH,1,8,Banking/Finance,...,4.01,Cement & Construction,3.20,Metals & Mining,1.32,NaN,NaN,NaN,NaN,94.04