In [101]:
import numpy as np
import pandas as pd
import datetime as dt
import os

In [102]:
Start_date = dt.datetime.strptime('01-01-2018' , '%d-%m-%Y')
End_date = dt.datetime.strptime('05-01-2018' , '%d-%m-%Y')
print (Date1 - Date2).days

-1

In [103]:
Index  = Dates.Index
Start_date = Index[0]
End_date = Index[len(Index)-1]
Num_dates = (End_date - Start_date).days
Cont_dates = pd.date_range(Start_date ,periods  = Num_dates ,  freq = 'D')

AttributeError: 'Series' object has no attribute 'Index'

In [104]:
def Continuous_dates(Values):
    Index  = Values.index
    Start_date = Index[0]
    End_date = Index[len(Index)-1]
    Num_dates = (End_date - Start_date).days
    Cont_dates = pd.date_range(Start_date ,End_date)
    ts = pd.Series(np.zeros(len(Cont_dates)),index = Cont_dates)
    print Cont_dates
    print ts.shape
    print Values.shape
    i = 0;j = 0
    while(j<len(Index)):
        #print (i,' : ',Cont_dates[i]);print(j,' : ',Index[j])
        if((Cont_dates[i] - Index[j]).days == 0):
            ts[i] = Values.iloc[j] 
            i = i+1;j=j+1
        elif((Cont_dates[i] - Index[j]).days < 0):
            ts[i] = Values.iloc[j-1]
            i = i+1
    return ts

In [100]:
os.chdir('/home/tennistetris/Documents/Data Analytics/Hall/Inter_hall/NAV_data/Mix')
db = pd.read_csv('100033.csv')
Index = list()
for i in range(db.shape[0]):
    Index.append(dt.datetime.strptime(db.iloc[i,6],'%d-%b-%Y'))
NAV = pd.Series(db[db.columns[3]])
NAV.index = Index
NAV_modified = Continuous_dates(NAV)
print NAV_modified

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10',
               ...
               '2017-12-20', '2017-12-21', '2017-12-22', '2017-12-23',
               '2017-12-24', '2017-12-25', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', length=1824, freq='D')
(1824,)
(1229,)
2013-01-01    163.79
2013-01-02    165.01
2013-01-03    165.35
2013-01-04    165.43
2013-01-05    165.43
2013-01-06    165.43
2013-01-07    164.85
2013-01-08    164.70
2013-01-09    164.15
2013-01-10    163.93
2013-01-11    161.96
2013-01-12    161.96
2013-01-13    161.96
2013-01-14    164.17
2013-01-15    164.97
2013-01-16    162.57
2013-01-17    163.02
2013-01-18    163.23
2013-01-19    163.23
2013-01-20    163.23
2013-01-21    163.47
2013-01-22    161.84
2013-01-23    161.28
2013-01-24    159.22
2013-01-25    161.31
2013-01-26    161.31
2013-01-27    161.31
2013-01-28    161.17
2013-01-29    160.56
2013-01-30    160.44
               ...
2017-11-30    435.88
2017-12-01    430.92
2017-12-02    430.92
2017-12-03    430.92
2017-12-04    429.96
2017-12-05    430.67
2017-12-06    426.23
2017-12-07    433.42
2017-12-08    437.00
2017-12-09    437.00
2017-12-10    437.00
2017-12-11    439.37
2017-12-12    436.34
2017-12-13    433.05
2017-12-14    435.20
2017-12-15    439.82
2017-12-16    439.82
2017-12-17    439.82
2017-12-18    442.83
2017-12-19    447.74
2017-12-20    448.83
2017-12-21    448.66
2017-12-22    450.04
2017-12-23    450.04
2017-12-24    450.04
2017-12-25    450.04
2017-12-26    450.46
2017-12-27    449.06
2017-12-28    448.36
2017-12-29    450.33
Freq: D, Length: 1824, dtype: float64

In [32]:
columns = db.columns
columns

Index([u'Unnamed: 0', u'Scheme Code', u'Scheme Name', u'Net Asset Value',
       u'Repurchase Price', u'Sale Price', u'Date'],
      dtype='object')

In [33]:
db.head()

,Unnamed: 0,Scheme Code,Scheme Name,Net Asset Value,Repurchase Price,Sale Price,Date
0,2456,100033,Aditya Birla Sun Life Advantage Fund - Regular...,163.79,162.97,163.79,01-Jan-2013
1,2457,100033,Aditya Birla Sun Life Advantage Fund - Regular...,165.01,164.18,165.01,02-Jan-2013
2,2458,100033,Aditya Birla Sun Life Advantage Fund - Regular...,165.35,164.52,165.35,03-Jan-2013
3,2459,100033,Aditya Birla Sun Life Advantage Fund - Regular...,165.43,164.60,165.43,04-Jan-2013
4,2460,100033,Aditya Birla Sun Life Advantage Fund - Regular...,164.85,164.03,164.85,07-Jan-2013