In [68]:
import os
import numpy as np
import pandas as pd
import datetime as dt

In [3]:
#Change the base path before executing code
Base_path = "/home/tennistetris/Documents/Data Analytics/Hall/Inter_hall"
data = "extracted_AUM_Data"
Path_to_data = os.path.join(Base_path,data)
files = os.listdir(Path_to_data)
os.chdir(Path_to_data)

In [4]:
Mutual_funds = os.listdir(os.path.join(Base_path,'All_equity'))
for i,fund in enumerate(Mutual_funds):
    Mutual_funds[i] = fund.split('.')[0].strip()

In [5]:
Files_mapping = {'ICICI_Prudential_Mutual_Fund':'data20.csv','HDFC_Mutual_Fund':'data9.csv','UTI_Mutual_Fund':'data28.csv','Reliance_Mutual_Fund':'data21.csv','Tata_Mutual_Fund':'data25.csv','SBI_Mutual_Fund':'data22.csv','Sundaram_Mutual_Fund':'data33.csv','Aditya_Birla_Sun_Life_Mutual_Fund':'data3.csv'}

In [13]:
fund = Mutual_funds[0]
file = Files_mapping[fund]
db= pd.read_csv(file)
columns = db.columns
db['AUM'] = db[columns[2]]+db[columns[3]]
db = db.drop(columns = ['scheme','Aum-Domestic','Aum-Foreign'])

       id   Timeline Quarter       AUM
0  102134  April - June 2012    381.79
1  102133  April - June 2012    318.21
2  104686  April - June 2012   6044.09
3  104685  April - June 2012   9593.85
4  100356  April - June 2012  19436.76

In [14]:
columns = db.columns
columns

Index([u'id', u'Timeline Quarter', u'AUM'], dtype='object')

In [26]:
os.chdir(Base_path)
db2 = pd.read_csv('MF_IIT_DATA_V3_EDITED.csv')
IDs = db2['ID']
#Removing NaNs
for i in range(len(IDs)):
    try:
        IDs[i] = int(IDs[i])
    except ValueError:
        IDs[i] = 0

/home/tennistetris/tensorflow/lib/python2.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/tennistetris/tensorflow/lib/python2.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [27]:
db.head()

       id   Timeline Quarter       AUM
0  102134  April - June 2012    381.79
1  102133  April - June 2012    318.21
2  104686  April - June 2012   6044.09
3  104685  April - June 2012   9593.85
4  100356  April - June 2012  19436.76

In [28]:
index = db['id'].isin(IDs)
sum(index)

176

In [29]:
len(IDs)

54

In [32]:
db = db[index]
db

/home/tennistetris/tensorflow/lib/python2.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

           id         Timeline Quarter         AUM
7      109445        April - June 2012    10975.96
66     100352        April - June 2012    11915.33
68     108466        April - June 2012   237586.30
257    100363        April - June 2012     5664.94
510    109445    July - September 2012    12031.28
569    100352    July - September 2012    14053.84
571    108466    July - September 2012   256991.45
763    100363    July - September 2012     5721.89
997    109445  October - December 2012    14881.38
1052   100352  October - December 2012    16652.46
1054   108466  October - December 2012   276643.20
1245   100363  October - December 2012     5645.28
1471   109445     January - March 2012    10598.12
1538   100352     January - March 2012     9914.59
1540   108466     January - March 2012   231346.07
1727   100363     January - March 2012     5543.11
1986   109445        April - June 2013    19412.00
1988   120244        April - June 2013      613.52
2075   120587        April - June 2013      269.16
2077   100352        April - June 2013    17354.64
2079   120586        April - June 2013     4555.33
2081   108466        April - June 2013   293077.35
2360   120594        April - June 2013       73.35
2362   100363        April - June 2013     5573.34
2710   109445    July - September 2013    17808.34
2712   120244    July - September 2013      762.22
2804   120587    July - September 2013      586.71
2806   100352    July - September 2013    18120.95
2808   120586    July - September 2013     7102.93
2810   108466    July - September 2013   300320.75
...       ...                      ...         ...
21510  120587        April - June 2017     2851.04
21512  100352        April - June 2017    22550.34
21514  120586        April - June 2017   239660.06
21516  108466        April - June 2017   899975.11
21838  120594        April - June 2017     2425.76
21840  100363        April - June 2017    16722.29
22867  109445    July - September 2017   170678.22
22869  120244    July - September 2017    41588.99
22980  120587    July - September 2017     3473.72
22982  100352    July - September 2017    24333.77
22984  120586    July - September 2017   275114.88
22986  108466    July - September 2017   953906.90
23313  120594    July - September 2017     2912.17
23315  100363    July - September 2017    15878.47
24266  109445  October - December 2017   192900.45
24268  120244  October - December 2017    49070.05
24379  120587  October - December 2017     3848.55
24381  100352  October - December 2017    25498.13
24383  120586  October - December 2017   323683.10
24385  108466  October - December 2017  1029993.19
24659  120594  October - December 2017     3555.78
24661  100363  October - December 2017    17259.92
25503  109445     January - March 2017   103508.98
25505  120244     January - March 2017    20465.51
25618  120587     January - March 2017     2480.90
25620  100352     January - March 2017    20610.63
25622  120586     January - March 2017   209276.41
25624  108466     January - March 2017   840179.49
25953  120594     January - March 2017     2886.96
25955  100363     January - March 2017    18641.64

[176 rows x 3 columns]

In [34]:
len(index)

26939

In [35]:
db.shape

(176, 3)

In [43]:
#db = db.drop(columns = ['id'])
db.groupby('Timeline Quarter').sum()

                                AUM
Timeline Quarter
April - June 2012         266142.53
April - June 2013         340928.69
April - June 2014         496667.04
April - June 2015         822313.87
April - June 2016         996028.33
April - June 2017        1350594.21
January - March 2012      257401.89
January - March 2013      332776.02
January - March 2014      408425.23
January - March 2015      788690.57
January - March 2016      895572.51
January - March 2017     1218050.52
July - September 2012     288798.46
July - September 2013     350985.15
July - September 2014     606828.89
July - September 2015     877488.71
July - September 2016    1106981.02
July - September 2017    1487887.12
October - December 2012   313822.32
October - December 2013   380777.05
October - December 2014   694360.86
October - December 2015   914158.91
October - December 2016  1115163.29
October - December 2017  1645809.17

In [71]:
Quaterly_TS = db['Timeline Quarter']
list1 = []
for i in range(len(Quaterly_TS)):
    print (datetime.strptime(Quaterly_TS.iloc[i],"%B - %B %Y"))
print (list1)

ValueError: time data 'April - June 2012' does not match format '%B %Y'

In [79]:
Quaterly_TS = db['Timeline Quarter']
a = Quaterly_TS.iloc[0]
Start_date = dt.datetime.strptime(a.split(' ')[0]+a.split(' ')[3],"%B%Y")
Start_date = pd.Period(Start_date , 'M')
Start_date

Period('2012-04', 'M')

In [81]:
for i in range(len(Quaterly_TS)):

SyntaxError: unexpected EOF while parsing (<ipython-input-81-288a53f514f2>, line 1)