In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [7]:
path = "/home/tennistetris/Documents/Data Analytics/Hall/Inter_hall"
data_path = "DA_original_files/Data_csv"
pathtodata = os.path.join(path,data_path)
os.chdir(pathtodata)
Csv_files = os.listdir(pathtodata)

In [8]:
file = Csv_files[0]
db = pd.read_csv(file)
db.head()

,Scheme Code,Scheme Name,Net Asset Value,Repurchase Price,Sale Price,Date
0,112343,ICICI Prudential Banking and PSU Debt Fund - ...,10.0476,10.0225,10.0476,01-Jan-2013
1,112343,ICICI Prudential Banking and PSU Debt Fund - ...,10.0476,10.0225,10.0476,02-Jan-2013
2,112343,ICICI Prudential Banking and PSU Debt Fund - ...,10.0476,10.0225,10.0476,03-Jan-2013
3,112343,ICICI Prudential Banking and PSU Debt Fund - ...,10.0476,10.0225,10.0476,04-Jan-2013
4,112343,ICICI Prudential Banking and PSU Debt Fund - ...,10.0476,10.0225,10.0476,07-Jan-2013

In [13]:
columns = db.columns
db[columns[1]] = db[columns[1]].astype("category")
db[columns[1]].head()

0    112343
1    112343
2    112343
3    112343
4    112343
Name: Scheme Code, dtype: category
Categories (607, object): [100364, 100365, 100366, 100367, ..., Open Ended Schemes ( Gilt ), Open Ended Schemes ( Growth ), Open Ended Schemes ( Liquid ), Open Ended Schemes ( Other ETFs )]